@charset "UTF-8";

@font-face {
  font-family: "e21-social";
  src:url("fonts/e21-social.eot");
  src:url("fonts/e21-social.eot?#iefix") format("embedded-opentype"),
    url("fonts/e21-social.woff") format("woff"),
    url("fonts/e21-social.ttf") format("truetype"),
    url("fonts/e21-social.svg#e21-social") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "e21-social" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "e21-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-rss:before {
  content: "\63";
}
.icon-github:before {
  content: "\64";
}
.icon-youtube:before {
  content: "\65";
}
.icon-500px:before {
  content: "\66";
}
.icon-behance:before {
  content: "\67";
}
.icon-googleplus:before {
  content: "\68";
}
.icon-linkedin:before {
  content: "\69";
}
.icon-skype:before {
  content: "\6a";
}
.icon-dribbble:before {
  content: "\6b";
}
.icon-vimeo:before {
  content: "\6c";
}
.icon-pinterest:before {
  content: "\6d";
}
.icon-flickr:before {
  content: "\6e";
}
.icon-stumbleupon:before {
  content: "\6f";
}
.facebook {
  background: #3B5998;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.twitter {
  background: #00ACEE;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.rss {
  background: #FF6600;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.github {
  background: #AC5C51;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.youtube {
  background: #DF2926;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.fivehun {
  background: #34bf49;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.behance {
  background: #1769ff;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.googleplus {
  background: #dc4e41;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.linkedin {
  background: #0077b5;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.skype {
  background: #00aff0;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.dribbble {
  background: #ea4c89;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.vimeo {
  background: #1ab7ea;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.pinterest {
  background: #bd081c;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.flickr {
  background: #0063dc;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.stumbleupon {
  background: #eb4924;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  color: #fff;

}
.facebook:hover {box-shadow: 0px 0px 0px 10px #3B5998, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.twitter:hover {box-shadow: 0px 0px 0px 10px #00ACEE, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.rss:hover {box-shadow: 0px 0px 0px 10px #FF6600, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.github:hover {box-shadow: 0px 0px 0px 10px #AC5C51, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.youtube:hover {box-shadow: 0px 0px 0px 10px #DF2926, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.fivehun:hover {box-shadow: 0px 0px 0px 10px #34bf49, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.behance:hover {box-shadow: 0px 0px 0px 10px #1769ff, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.googleplus:hover {box-shadow: 0px 0px 0px 10px #dc4e41, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.linkedin:hover {box-shadow: 0px 0px 0px 10px #0077b5, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.skype:hover {box-shadow: 0px 0px 0px 10px #00aff0, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.dribbble:hover {box-shadow: 0px 0px 0px 10px #ea4c89, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.vimeo:hover {box-shadow: 0px 0px 0px 10px #1ab7ea, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.pinterest:hover {box-shadow: 0px 0px 0px 10px #bd081c, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.flickr:hover {box-shadow: 0px 0px 0px 10px #0063dc, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
.stumbleupon:hover {box-shadow: 0px 0px 0px 10px #eb4924, 0px 0px 15px 12px rgba(0,0,0,0.3);z-index: 1;position: relative;transition:all 0.5s;}
body{
  margin: 0!important;
  font-family: 'Dosis';
  transition:all 0.5s;
}

ul,li{
  list-style: none;
}
.icon{
  font-size: 40px;
}


@media screen and (min-width:726px){
.title{
  width: 20%;
  height: 100vh;
  float: left;
      display: flex;
    align-items: center;
    justify-content: center;
        background: #0C0C4A;
    color: white;
}
.main-content{
  width: 80%;
  height: 100vh;
}
.flex-row li{
  width: 20%;
  display: flex;
    flex-wrap: wrap;
flex-direction:column;
justify-content:center;
align-items:center;
margin: 0;
}
.flex-column{
  display: flex;
  flex-wrap: wrap;
flex-direction:column;
align-content:center;
    height: 100vh;

}
.flex-row{
  display: flex;
    flex-wrap: wrap;
flex-direction:row;
justify-content:space-between;
flex-grow: 5;
margin: 0;
padding: 0
}
}
@media screen and (max-width:725px){
  .title{
  width: 100%;
    
  float: left;
      display: flex;
    align-items: center;
    justify-content: center;
        background: #0C0C4A;
    color: white;
}
.main-content{
  width: 100%;
}
.flex-row li{
  width: 100%;
  display: flex;
    flex-wrap: wrap;
flex-direction:column;
justify-content:center;
align-items:center;
margin: 0;
}
.flex-column{
  display: flex;
  flex-wrap: wrap;
flex-direction:column;
align-content:center;

}
.flex-row{
  display: flex;
    flex-wrap: wrap;
flex-direction:row;
justify-content:space-between;
margin: 0;
padding: 0
}
}
